<div class="container mt-5">
  <div class="row mb-5">
    <div class="col-md-6">
      <app-search></app-search>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Project Name</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Status</th>
        <th scope="col">Due</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>

        <tr *ngFor="let customer of customers">
          <td>{{customer.projectName}}</td>
          <td>{{customer.customerName}}</td>
          <td>{{customer.status}}</td>
          <td>{{customer.date}}</td>
          <td></td>
        </tr>

    </tbody>
  </table>

  <!-- {{customers | json}} -->
</div>
