<div class="jumbotron container mt-5 offset-2 col-md-6" style="padding: 1rem;" *ngFor="let customer of customers$ | async">
  <h1 class="display-4"><span>Customer Name:</span>{{customer.customername}}</h1>
  <!-- <p class="lead"><span>Address:</span>{{customerDetail.addressline1}} {{customerDetail.addressline2}}</p>
  <p class="lead"><span>Vat Number:</span>{{customerDetail.vat}}</p>
  <hr>

  <h2 class="display-6"><span>Contact Person:</span>{{customerDetail.firstname}} {{customerDetail.lastname}}</h2>
  <p><span>email:</span>{{customerDetail.email}}</p>
  <p><span>Phone number:</span>{{customerDetail.phonenumber}}</p>
  <a class="btn btn-primary" (click)="onEdit()" role="button">Edit</a> -->
</div>
